@import "../variables", "../shared";

:local {
    .methodParameter:not(:last-child) {
        margin-right: 5px;
    }

    .methodParameter:not(:last-child):after {
        content: ",";
    }

    .parameterModifier {
        color: $parameterModifier;
        margin-right: 5px;
    }
}