﻿@using Tolltech.TollGrapher.GrapherWeb.Infrastructure
@using Tolltech.TollGrapher.GrapherWeb.Models.Finder
@model Tolltech.TollGrapher.GrapherWeb.Models.Finder.FinderViewModel

@section Styles
{
    <link href="~/dist/styles/FinderPage.css" rel="stylesheet" />
}

@HtmlReact.Component(
    "FinderPage",
    Model,
    containerId: "react-finder-root")

@section Scripts
{
    <script src="~/dist/FinderPage.js"></script>
}
