:local {
    .inputs {
        display: flex;

        flex-direction: column;

        height: 190px;

        justify-content: flex-start;
        align-items: flex-start;

        margin-bottom: 30px;
    }

    .autocompleteItemStyle {
        display: inline-block;
    }
}