@using Tolltech.TollGrapher.GrapherWeb.Infrastructure
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/dist/styles/libs.css"/>
    <link rel="stylesheet" href="~/css/base.css"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Roboto+Mono" rel="stylesheet">

    @await RenderSectionAsync("Styles", required: false).ConfigureAwait(true)

</head>
<body>

<div>
    @RenderBody()
</div>

<script src="~/dist/manifest.js"></script>
<script src="~/dist/common.js"></script>
<script src="~/dist/libs.js"></script>

@await RenderSectionAsync("Scripts", required: false).ConfigureAwait(true)
@HtmlReact.Init()

</body>
</html>
