html {
    overflow-y: scroll;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background: #f5f5f5;

    padding-left: 15%;
    padding-top: 15px;

    height: 50px;

    margin-bottom: 30px;

    -webkit-box-shadow: 0px -21px 34px 20px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -21px 34px 20px rgba(0,0,0,0.2);
    box-shadow: 0px -21px 34px 20px rgba(0,0,0,0.2);
}

footer {
    position: absolute;

    left: 0;
    bottom: 0;
    right: 0;

    background: #f5f5f5;

    padding-left: 15%;
    padding-top: 10px;

    margin-top: 20px;

    height: 50px;
}
