$defaultOpacity: 0.8; :export { defaultOpacity: $defaultOpacity; }

$mainText: #404040;
$additionalText: #b7b7b7;
$disabledText: $additionalText;
$darkerAdditionalText: #8c8c8c;

$action: #3390d8; :export { action: $action; }
$hover: #e04000;
$visited: #691ba8;

$inputShadow: #d9d9d9;
$inputAccent: #008eff;

$error: #d92b2b;
$success: #00b359;
$warning: #ff9300;

$warningBackground: #ffeccd;
$errorBackground: #ffaa9d;

$menu: #8e3b4b;
$menuText: #e1c0c8;

$separator: #e8e8e8;
$generalBackground: #f5f5f5;

$primaryButton: #3390d8;
$primaryButtonShadow: #2972ae;

$simpleButton: #ededed;
$simpleButtonShadow: #d9d9d9;