@import "./variables";

:local {
    .code {
        font-family: "Roboto Mono", monospace;
    }

    .overflowedText {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .symbolDescriptionBlock {
        @extend .code;

        display: flex;
        flex-direction: column;
    }

    .namespace {
        color: $secondaryText;
        margin-bottom: -25px;
        font-size: 12px;

        @extend .overflowedText;
    }

    .symbol {
        font-size: 13px;

        @extend .overflowedText;
    }

    .type {
        color: $type;
        margin-right: 5px;
    }

    .name {
        color: $name
    }
}